body {
  background-image: url("../images/windedroad.jpg");
  background-color: transparent;
  padding: 2em 2em 2em 2em;
  display: block;
  font-family: "Nunito", sans-serif;
  max-width: 1200px;
  margin: auto;
  min-width: 1200px;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin: auto;
}

nav {
  background-color: #d2b48c45;
  width: 100%;
}

h1,
h2,
h3,
header,
footer,
a,
a:visited {
  color: #8c3826;
}

h1,
h4,
footer,
header {
  background-color: #d2b48c;
}

h4 {
  font-size: 1.2em;
  padding-left: 0.5em;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}

a,
a:visited {
  text-decoration: none;
  margin-left: 25px;
  margin-right: 25px;
}

a:hover {
  color: #521d12;
}

footer {
  font-style: italic;
  font-size: 0.6em;
  text-align: center;
  padding: 1em;
  border-top: 2px solid #8c3826;
}

img {
  padding: 10px 10px 10px 10px;
  border-radius: 150px;
}

/*   ID's   */
#wrapper {
  display: flex;
  margin: 0px;
  align-items: center;
  justify-content: center;
  min-width: 900px;
  max-width: 1280px;
  filter: drop-shadow(0 0 0.7rem rgba(0, 0, 0, 0.4));
}

/*   CLASSES   */

.page {
  background-color: #fefaeb;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
}

.description {
  padding: 0px 40px 0px;
}

.links {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  height: 870px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepageimagewrapper {
  background-image: url("../images/windedroad.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
}

* {
  box-sizing: border-box;
}

.nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 10%;
}

.links a {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #333;
  text-decoration: none;
}

.links a:hover {
  color: #bf5700;
}
