body {
  background-image: url("../images/windedroad.jpg");
  background-color: transparent;
  padding: 2em 2em 2em 2em;
  display: block;
  font-family: "Nunito", sans-serif;
  max-width: 1200px;
  margin: auto;
  min-width: 1200px;
}

header {
  background-color: #d2b48c;
  color: #8c3826;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  font-size: 3em;
  background-color: #d2b48c;
  color: #8c3826;
  text-align: center;

  margin: auto;
}

nav {
  background-color: #d2b48c45;
  width: 100%;
}

h2 {
  color: #8c3826;
}
h3,
dt {
  color: #8c3826;
}

h4 {
  background-color: #d2b48c;
  font-size: 1.2em;
  padding-left: 0.5em;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}

dt {
  font-weight: bold;
  margin-top: 0.2cm;
  margin-bottom: 0.2cm;
}

a {
  margin-left: 25px;
  margin-right: 25px;
}

a,
a:visited {
  color: #8c3826;
  text-decoration: none;
}

a:hover {
  color: #521d12;
}

footer {
  color: #8c3826;
  background-color: #d2b48c;
  font-style: italic;
  font-size: 0.6em;
  margin-top: 2em;
  text-align: center;
  padding: 1em;
  border-top: 2px solid #8c3826;
}

img {
  padding: 10px 10px 10px 10px;
  border-radius: 150px;
}

/*   ID's   */
#wrapper {
  padding: 0px 35px 0px;
  display: flex;
  margin: 0px;
  align-items: center;
  justify-content: center;
  min-width: 900px;
  max-width: 1280px;
  filter: drop-shadow(0 0 0.7rem rgba(0, 0, 0, 0.4));
}

/*   CLASSES   */

.page {
  background-color: #fefaeb;
  margin: 65px;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.4);
}

.menu {
  padding-right: 0.9cm;
}

.description {
  padding: 0px 40px 0px;
}

.links {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.menuimage {
  width: 100%;
  height: auto;
  max-width: 700px;
  display: block;
}
.homeimage {
  width: 40%;
  height: auto;
  overflow: hidden;
}
.homepageimagewrapper {
  background-image: url("../images/windedroad.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
}

.menuimagewrapper {
  width: auto;
  display: flex;
}

.details {
  padding: 0 20%;
}
