body {
  background-image: url("../images/windedroad.jpg");
  background-color: transparent;
  padding: 2em 2em 2em 2em;
  display: block;
  font-family: "Nunito", sans-serif;
  max-width: 1200px;
  margin: auto;
  min-width: 1200px;
}

header {
  background-color: #d2b48c;
  color: #8c3826;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  font-size: 3em;
  background-color: #d2b48c;
  color: #8c3826;
  writing-mode: vertical-rl;
  width: 50px;
  margin-top: 200px;
  display: flex;
  justify-self: center;
  align-items: center;
  transform: rotate(180deg);
}

nav {
  background-color: #d2b48c45;
  width: 100%;
}

h2 {
  color: #8c3826;
}
h3,
dt {
  color: #8c3826;
}

h4 {
  background-color: #d2b48c;
  font-size: 1.2em;
  padding-left: 0.5em;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}

dt {
  font-weight: bold;
  margin-top: 0.2cm;
  margin-bottom: 0.2cm;
}

a {
  margin-left: 25px;
  margin-right: 25px;
}

a,
a:visited {
  color: #8c3826;
  text-decoration: none;
}

a:hover {
  color: #521d12;
}

footer {
  color: #8c3826;
  background-color: #d2b48c;
  font-style: italic;
  font-size: 0.6em;
  text-align: center;
  padding: 1em;
  border-top: 2px solid #8c3826;
}

img {
  padding: 10px;
  margin-right: 50px;
  border-radius: 150px;
}

/*   ID's   */
#wrapper {
  display: flex;
  flex-direction: row-reverse;

  align-items: baseline;
  min-width: 900px;
  max-width: 1280px;
  filter: drop-shadow(0 0 0.7rem rgba(0, 0, 0, 0.4));
}

/*   CLASSES   */

.page {
  background-color: #fefaeb;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
}

.menu {
  margin: auto;
  padding: 10px;
}

.description {
  padding: 0px 40px 0px;
}

.links {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuimage {
  width: 100%;
  height: 50%;
  max-width: 750px;
  display: block;
}

.menuimagewrapper {
  width: 600px;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 20px;
}

* {
  box-sizing: border-box;
}

.nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 10%;
}

.links a {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #333;
  text-decoration: none;
}

.links a:hover {
  color: #bf5700;
}
